<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">        
        <div class="container">
            <h1>App</h1>
            <h1>{{ count }}</h1>
            <button @click="countUp" class="btn btn-success"> +1 </button>
            <button @click="countDown" class="btn btn-success"> -1 </button>            
        </div> 

        <div class="container">
            <h1>URL: <a v-bind:href="url">{{ cleanUrl }}</a></h1>
            <input type="text" class="form-control" v-model="url" placeholder="https://youtube.com/">
            <button @click="cleanerUrl" class="btn btn-primary">Clean URL</button>
        </div>

        <div class="container">
            <h1>{{ title }}</h1>
            <button :class="[sizeToggle ? 'large' : '', {'rounded' : isRounded}]" 
                    :style="styles" 
                    :disabled="disabled">Start
            </button>
            <ul>
                <li><input type="checkbox" v-model="sizeToggle"><label for="">Size button</label></li>
                <li><input type="checkbox" v-model="isRounded"><label for="">Rounded</label></li>
                <li><input type="checkbox" v-model="disabled"><label for="">Disable</label></li>
                <li><input type="text" v-model="fontColor"></li>
                <li><input type="text" v-model="backgroundColor"></li>
            </ul>
        </div>

        <div class="container">
            <button @click="show = !show" class="btn btn-primary">Toggle</button>
            <transition name="newanim">
                <div class="box" v-if="show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem cum quas rerum quaerat et mollitia non incidunt delectus rem provident!</div>              
            </transition>
        </div>

        <div class="container">
            <header><h1>{{ title1 }}</h1></header>
            <form class="form">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Add task" id="itemForm">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" @click="addItem" type="button">Add</button>
                    </div>
                </div>
            </form>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Tasks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <th scope="row">{{item.text}} <button @click="deleteItem(index)" class="btn btn-danger">x</button></th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container menu-list-container">
          <nav>
            <transition name="fade" mode="out-in">
              <i class="material-icons menu" v-if="!show" @click="show = !show" key="menu">menu</i>
              <i class="material-icons clear" v-else @click="show = !show" key="clear">clear</i>            
            </transition>
            <transition name="fade">
              <ul v-if="show" class="menu-list-ul">
                <li v-for="item in items1" class="menu-list-li">{{ item }}</li>
              </ul>
            </transition>
          </nav>
        </div>
        
        <div class="container container-reverse">
          <p>{{ message }}</p>
          <input type="text" placeholder="Enter your text" v-model="message">
          <button @click="reverseMessage">Reverse</button>
        </div>

        <div class="container container-form">
          <div class="form-group">
            <input type="password" class="form-control" v-model="password" v-show="!showPass">
            <input type="text" class="form-control" v-model="password" v-show="showPass">
            <button class="btn btn-primary" @click="showPass = !showPass">
              <span v-show="!showPass">Show password</span>
              <span v-show="showPass">Hide password</span>
            </button>       
          </div>
        </div>
    </div>   
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    https://cdnjs.cloudflare.com/ajax/lib...
    <script src="script.js"></script>
</body>
</html>